<img src= "https://image.tmdb.org/t/p/w500/{{model.poster_path}}" style="width:20vw; height:50vh" alt="Subsribe to Netflix" title={{trending.title}} />
<br>
<p>{{model.title}}</p>
<p>{{model.overview}}</p>

<p>Release on: {{model.release_date}}</p>




{{outlet}}